doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title DDreamkol
        meta(name='description', content='Elegant website for storing data about some villages based on Bootstrap 4')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css', integrity='sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.11/css/all.css', integrity='sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/', crossorigin='anonymous')
        link(rel='stylesheet', href='css/shards.min.css')
        link(rel='stylesheet', href='css/shards-demo.css?v=1.1.0')
        link(href='css/managers.css', rel='stylesheet')
        link(href='css/navbar.css', rel='stylesheet')
        link(rel='shortcut icon', type='image/png', href='images/favico/favico.png')
    body
        // Navbar
        div
            script(src='js/scripts/navbar.js')
        // background image
        img.bgd(src='images/other/sunrise.svg')
        // Page Content
        .text-center.mb-4
            br
            h1 Manager
        br
        div
            .container
                .row.justify-content-md-center
                    .col-md-8.mb-3
                        div(style='text-align: center; padding-bottom: 0px;')
                            a(href='/peopleSayEdit', style='height: 35px;')
                                button.btn.btn-pill.btn-success.ace-btn(type='button', href='/peopleSayEdit')
                                    i.fa.fa-comment.mr-1  
                                    |   People Say Edit
                        br
                        br
                        .row.message
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/bezevo', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/bezevo')
                                        i.fas.fa-image  
                                        |   Bezevo
                                    div.notifications
                                        if array[0] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[0]}
                                        if arrayNO[0] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[0]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/borovec', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/borovec')
                                        i.fas.fa-image  
                                        |   Boroec
                                    div.notifications
                                        if array[1] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[1]}
                                        if arrayNO[1] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[1]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/drenok', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/drenok')
                                        i.fas.fa-image  
                                        |   Drenok
                                    div.notifications
                                        if array[2] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[2]}
                                        if arrayNO[2] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[2]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/dlukovo', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/dlukovo')
                                        i.fas.fa-image  
                                        |   Dolno Lukovo
                                    div.notifications
                                        if array[3] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[3]}
                                        if arrayNO[3] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[3]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/glukovo', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/glukovo')
                                        i.fas.fa-image  
                                        |   Gorno Lukovo
                                    div.notifications
                                        if array[4] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[4]}
                                        if arrayNO[4] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[4]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/jablanica', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/jablanica')
                                        i.fas.fa-image  
                                        |   Jablanica
                                    div.notifications
                                        if array[5] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[5]}
                                        if arrayNO[5] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[5]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/lakavica', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/lakavica')
                                        i.fas.fa-image  
                                        |   Lakavica
                                    div.notifications
                                        if array[6] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[6]}
                                        if arrayNO[6] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[6]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/modric', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/modric')
                                        i.fas.fa-image  
                                        |   Modric
                                    div.notifications
                                        if array[7] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[7]}
                                        if arrayNO[7] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[7]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/nerezi', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/nerezi')
                                        i.fas.fa-image  
                                        |   Nerezi
                                    div.notifications
                                        if array[8] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[8]}
                                        if arrayNO[8] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[8]}
                            div(style='text-align: center; margin: 25px auto;')
                                a(href='/manage/piskupshtina', style='height: 35px;')
                                    button.btn.btn-pill.btn-primary.ace-btn(type='button', href='/manage/piskupshtina')
                                        i.fas.fa-image  
                                        |   Piskupshtina
                                    div.notifications
                                        if array[9] != 0
                                            span.badge.mr-3.badge-pill.badge-success #{array[9]}
                                        if arrayNO[9] != 0
                                            span.badge.mr-3.badge-pill.badge-warning #{arrayNO[9]}
                        br
                        br
                        br
                        div.message(style='text-align: center;')
                            .col-sm-12
                                div
                                    br
                                    h4 Backup
                                    p (backup.zip should be in "public" directory)
                                    p click the icon to download
                                br
                                div(style='padding-bottom: 30px')
                                    a(href='backup.zip', download='')
                                        div
                                            img(src='images/other/winrar.png', class="resp", style='height: 150px; width: 150px')
            br
            br
            // footer
            div
                br
                br
                h5.text-center.small.p-0(style='position: relative; bottom: 0; width:100%; color: black;') 2018 — Aleksandar Gjoreski
            // JavaScript
            #fb-root
            script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
            script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
            script(src='js/shards.min.js')
            script(src='js/demo.min.js')
